/** 
* @link		http://www.lwis.net/
* @copyright	2008 Live Web Institute. All Rights Reserved.
*/

#categories {
background-color: #383838;
border-bottom:1px solid #484848;
border-left:1px solid #484848;
border-right:1px solid #484848;

height:23px;
margin: 0px;
padding: 0px;
}

ul.dropdown {

}

ul.dropdown li {
padding: 3px 12px;

color: #707070;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
color: #ccc;
}

ul.dropdown a:link,
ul.dropdown a:visited	{ color: #fff; text-decoration: none; }
ul.dropdown a:hover		{ color: #ccc; }
ul.dropdown a:active	{ color: #fff; }

ul.dropdown ul {
width: 150px;
margin-top: 1px;
}

ul.dropdown ul li {
font-weight: normal;
}

ul.dropdown *.dir {
padding-right: 20px;
background-image: url(images/nav-arrow-down.png);
background-position: 100% 50%;
background-repeat: no-repeat;
}

ul.dropdown-horizontal ul *.dir {
padding-right: 15px;
background-image: url(images/nav-arrow-right.png);
background-position: 100% 50%;
background-repeat: no-repeat;
}

ul.dropdown-upward *.dir {
background-image: url(images/nav-arrow-top.png);
}

ul.dropdown-vertical *.dir,
ul.dropdown-upward ul *.dir {
background-image: url(images/nav-arrow-right.png);
}

ul.dropdown-vertical-rtl *.dir {
padding-right: 10px;
padding-left: 15px;
background-image: url(images/nav-arrow-left.png);
background-position: 0 50%;
}